<div class="panel panel-default searchDiv">
    <div class="panel-body">

        <div class="dropdown leftAlign">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown
                <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
            </ul>
        </div>

        <div class="rightAlign">
            <input class="form-control" id="inputdefault" type="text"
                   placeholder="Search for..">
            <button type="button" class="btn btn-default">Search</button>
        </div>

    </div>
</div>