<div class="tabbable tab-content">
	<uib-tabset type="tabs">
	 	
	 	<uib-tab heading="Overview">
	 		<div ui-view="overview"></div>
	 	</uib-tab>
	 	
	 	<uib-tab heading="General">
	 		<div ui-view="general"></div>
	 	</uib-tab>
	 	
	 	<uib-tab heading="Hreflang">
	 		<div ui-view="hreflang"></div>
	 	</uib-tab>
	 	
	 	<uib-tab heading="Social">
	 		<div ui-view="social"></div>
	 	</uib-tab>
	 	
	 	<uib-tab heading="Links">
	 		<div ui-view="links"></div>
	 	</uib-tab>
	 	
	 	<uib-tab heading="GSC & Google Analytics">
	 		<div ui-view="gsc"></div>
	 	</uib-tab>
	</uib-tabset>
</div>