<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="app.js"></script>

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.0/ui-grid.js"></script>
    <link rel="styleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.0/ui-grid.css"/>
         -->
    <link rel="stylesheet" type="text/css" href="./styles/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <script src="service/SelectDetailService.js"></script>
    <script src="controller/ProductController.js"></script>
    <script src="controller/DetailController.js"></script>
    <script src="controller/MenuController.js"></script>
    <script src="utilFunctions.js"></script>


</head>

<body>

<div class="mainStyle">
    <div class="col-xs-2">
        <div class="pull-left height600">
            <div ng-controller="MenuController"
                 class="panel panel-default height600">
                <input class="form-control" ng-model="searchText" type="text"
                       placeholder="Search..">
                <ul>
                    <li ng-repeat="entry in menuEntries | filter:searchText:contains">
                        <a ui-sref-active="active" ui-sref="{{entry.Link}}">{{entry.Name}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div ui-view="mainPage" class="col-xs-10"></div>
</div>

</body>
</html>
